<div class="container">

	<div class="row top">

		<div class="background"></div>
			<div class="bg">
		<div class="col-lg-3"></div>
			<div class="col-lg-7">
			<h2>管理ページ</h2>
				<nav>
					<li><%= link_to 'ユーザー一覧', admins_users_path %></li>
					<li><%= link_to '商品一覧', products_path %></li>
					<li><%= link_to '商品の追加', new_admins_product_path %></li>
					<li><%#= link_to '購入履歴', %></li>
					<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
				</nav>
				</div>
				</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>
