<div class="yield-container">

	<div class="background"></div>

	<div class="container">

		<div class="row">

			<div class="bg">
				<br>
				<br>
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<h1>管理ページ</h1>
						<nav>
							<li><%= link_to 'ユーザー一覧', admins_users_path %></li>
							<li><%= link_to '商品一覧', products_path %></li>
							<li><%= link_to '商品の追加', new_admins_product_path %></li>
							<!-- <li> --><%#= link_to '購入履歴', %><!-- </li> -->
							<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
						</nav>
					</div>
					<div class="col-lg-4"></div>
			</div>
		</div>
	</div>
</div>
