<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
			<div class="col-lg-7">
			<h2>管理ページ</h2>
				<nav>
					<li><%= link_to 'ユーザー一覧', admins_users_path %></li>
					<li><%= link_to '商品一覧', products_path %></li>
					<li><%= link_to '仮ログアウト', destroy_admin_session_path, method: :delete %></li>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>