<div class="row sampleRow top-space">
	<div class="col-xs-offset-2 col-xs-8">
		<div class = "resign-box">
			<p class = "resign-text">退会すると、今後サービスを利用できなくなります。</p>
			<p class = "resign-text">本当に退会してもよろしいですか？</p>
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>


<div class="row sampleRow">
	<div class="col-xs-offset-5 col-xs-2">
		<br>
		<br>
		<%= link_to "はい", resign_confirm_path(@user.id), method: :patch, class: "btn btn-danger" %>

		<%= link_to "いいえ",edit_user_path(@user.id), class: "btn btn-info" %>
</div>
</div>
<div class="top-space"></div>

