<div class="container">
	<div class="row">
		<div class="col">
			<!-- サーチメソッド -->
			<% @users.each do |user| %>
			<table class="table">
				<td><!-- <attachment_image_tag> --></td>
				<td></td>
				<td><%= user.user_name %></td>
				<td><%= user.email %></td>
			</table>
			<% end %>

		</div>
	</div>
</div>