/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


header{
	padding-bottom: 100px;
}

.search-window{
	display: inline-block;
	padding-top: 20px;
}
.navbar-brand{
	font-size: 50px;
	padding-top: 20px;
}
.navbar-right{
	font-size: 20px;
	display: inline-block;
	position: absolute;
	top: 8%;
	right: 8%;
}
.navbar-header{
	font-size: 20px;
}
.navbar-nav{
	font-size: 16px;
	padding-top: 20px;
}


 footer{
 width: 100%;
 height: 50px;
 }
.footer-text2{
	text-align: center;
}

.sampleRow{
	padding-bottom: 100px;
}





.panel-body{
	height:150px;
	width:350px;
	overflow: scroll;
}

.border{
	border:thin solid black;
}


.form{
	padding: 20px;
}

.mypage-touroku{
	text-align: center;
}

.touroku-field{
	text-align: center;
}

.circle{
	border: 1px solid #000;
}

.circle2{
	width: 90%;
	border-bottom: 2px solid #00ffff;
	margin: 0 auto;
}

.field{
	padding-bottom: 20px;
}

.flash {
	color: #3cb371;
}

li {
	list-style: none;
}


