// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
	background-image: url("owner.png");
	background-size: cover;
	background-position: right;
	height: 600px;
	width: 100%;

}