// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
	background-image: url("owner.png");
	background-position: right;
	position: absolute;
	height: 800px;
	width: 100%;
	opacity: 0.3;

}


.bg{
 	width: 100%;
	z-index:  100;
	top: 0;
}