// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thanks-message{
	font-size: 40px
}

.complete-message{
	font-size: 40px
}

.glyphicon-user{
	font-size: 40px
}

.trading-number{
	font-size: 15px
}

.souryou{
	text-align: right;
	width: 80%;
}

.grand-total{
	width: 30%;
	margin: 0 auto;
	text-align: center;
	border: ridge 5px #ff0000;
}
