// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scroller {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: white;
  border: solid 1px #000000;
}
.review-record{
	 word-break:break-all;
   border-bottom: dashed 1px #333;
}
.review-record:last-child{
  border-bottom:none;
}
.edit-icon{
	text-align: center;
}
.edit-review-item{
	text-align: center;
}
.edit-form{
	width: 81%;
	display: inline-block;
	text-align: center;
}
.review-user{
  font-size: 40px;
  text-align: center;
  border: inset 10px #ff0000;
}
