<div class="container-fluid">
	<div class="row sampleRow">
		<div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
			<div class="feature-container">
				<div class="jumbotron">
					<h5>新着商品</h5>
					<p><a class="btn btn-primary btn-lg" href="#新着商品の特集記事URLを入れる" role="button">もっと詳しく</a></p>
				</div>
			</div>
			<div class="new-arrivals-container">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="sidebar-jenre">
				<div class="btn-group-vertical" role="group">
					<button type="button" class="btn btn-default">J-POP</button>
					<button type="button" class="btn btn-default">洋楽</button>
					<button type="button" class="btn btn-default">K-POP</button>
					<button type="button" class="btn btn-default">ロック/オルタナティブ</button>
					<button type="button" class="btn btn-default">パンク/ハードコア</button>
					<button type="button" class="btn btn-default">ビジュアル</button>
					<button type="button" class="btn btn-default">R&B/ソウル</button>
					<button type="button" class="btn btn-default">ヒップホップ</button>
					<button type="button" class="btn btn-default">レゲエ/スカ</button>
				</div>
			</div>
			<div class="sidebar-recommend">
			</div>
		</div>
	</div>
</div>