<div class="search-list-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<table class="search-table" border="1">
				<thead>
					<tr>
						<th>商品名</th>
						<th>アーティスト名</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
						<tr>
							<th class="danger"><code><%= link_to product.product_name, product %></code></th>
							<td><%= product.artist %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @products %>
		</div>
	</div>
</div>