<%= form_with(model: [@product, Review.new]) do |form| %>
	<div>
		<%= form.text_area :body, size: "50x10" %>
	</div>
	<div class="actions">
		<%= form.submit "投稿", class: 'btn btn-info' %>
	</div>
<% end %>